<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" ng-init='fetchAllWords()'>
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>

  <input type='text' ng-model='newWord' class='form-control' placeholder='add a new word' />
  <button class="btn btn-success" ng-click='createWord(newWord)'>Add</button>

  <ul>
    <li ng-repeat='word in words'>
      {{word.name}}
      <button class="btn btn-danger" ng-click='deleteWord(word._id)'>Delete</button>
    </li>
  </ul>

</div>